body {
  background-color: black;
  font-family: "Lato", sans-serif;
}

.app-name {
  color: white !important;
  font-size: 30px;
  font-family:"Roboto", sans-serif;
  
 
 }
  
#open {
  color: green !important;
  font-weight: lighter;
  font-family:Georgia, 'Times New Roman', Times, serif
}

div.picture1 {
  width:4000px; /*width of your image*/
  height:750px; /*height of your image*/
  background-image:url('app/public/img/bicyle.jpg');
  margin:20; /* If you want no margin */
  padding:40; /*if your want to padding */
}
#musicplayer {
  margin-left: 650px;
  align-items: center;
}

#flag {
  max-width:50%
  height: auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#FFD700;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#travelbg {
  color: black
  
}
/* .dialDiv { 
    background: url(images/ItalyTodayBackgroundOnly.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;

  } */

