body {
    font-family: 'Piazzolla', serif;
    background-image: url("https://handluggageonly.co.uk/wp-content/uploads/2018/02/Hand-Luggage-Only-8-5.jpg");
    background-size: cover;
    letter-spacing: .2rem;
}

li{
    margin: .5rem;
}

#main,
#sub1,
#sub2{
    color: gray;
    padding: 1.5rem;
    margin: 2rem; 
    background-color: white; 
    text-align: center;
     
}

#italiatoday{
    width:100%;
    height:100%;
    margin: 2rem; 
}